{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>                                  
<body>
    <header>
        <h1>Mi Aplicación de Transporte seguro y sostenible</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/rutas/">Rutas</a></li>
                <li><a href="/vehiculos/">Vehículos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
