{% extends "base.html" %}
{% load static %}

{% block title %}Página inicial{% endblock title %}
{% block content %}
<h1>Bienvenido al sistema de rutas de la PUCE</h1>
<ul>
  <li><a href="{% url 'usuario_list' %}">Gestión de Usuarios</a></li>
  <li><a href="{% url 'vehiculo_list' %}">Gestión de Vehículos</a></li>
  <li><a href="{% url 'ruta_list' %}">Gestión de Rutas</a></li>
</ul>
<h3>Ruta Disponibles:</h3>
<ul class="grid-list">
  {% for ruta in rutas %}
  <li>
    <strong>{{ ruta.conductor }}</strong>
    <p>Ruta desde {{ ruta.origen }} hasta {{ ruta.destino }}. Fecha de salida: {{ ruta.fecha }} a las: {{ ruta.hora }}
    </p>
    <a href="rutas/update/{{ ruta.pk }}" class="btn btn-primary">
      <i class="fa-solid fa-pencil"></i>
    </a>
    <a href="rutas/delete/{{ ruta.pk }}" class="btn btn-danger">
      <i class="fa-solid fa-trash"></i>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}