{% extends "base.html" %}
{% load static %}
{% block title %}Página de rutas{% endblock title %}
{% block content %}
<h1>Rutas</h1>
<a href="{% url 'ruta_create' %}">Crear una nueva ruta</a>
<ul class="grid-list">
  {% for ruta in rutas %}
  <li>
    <strong>{{ ruta.conductor }}</strong>
    <p>Desde {{ ruta.origen }} hasta {{ ruta.destino }} el {{ ruta.fecha }} a las {{ ruta.hora }}</p>
    <p>Cupos restantes: {{ ruta.cupos_restantes }}</p>
    <p><strong>Pasajeros actuales:</strong> {{ ruta.pasajeros_count }}</p>

    {% if user.is_authenticated %}
      {% if user in ruta.pasajeros.all %}
        <form action="{% url 'abandonar_ruta' ruta.id %}" method="post" style="display:inline;" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Abandonar</button>
        </form>
      {% elif ruta.pasajeros.count < ruta.cupos_disponibles and user != ruta.conductor %}
        <form action="{% url 'unirse_a_ruta' ruta.id %}" method="post" style="display:inline;" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Unirse</button>
        </form>
      {% endif %}
    {% endif %}

    <a href="{% url 'ruta_update' ruta.pk %}" class="btn btn-primary">
      <i class="fa-solid fa-pencil"></i>
    </a>
    <a href="{% url 'ruta_delete' ruta.pk %}" class="btn btn-danger">
      <i class="fa-solid fa-trash"></i>
    </a>
  </li>
  {% endfor %}
</ul>
<button onclick="window.location.href='{% url 'index' %}'">Volver</button>
{% endblock content %}